.container {
	color: @ControlText;
	background-color: @Control;
}

.header {
	padding: 0 0 2px 0;
}

.border {
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 1px solid @ControlBorder;
	background-color: @Window;
}

	.border:focus {
		border: 1px solid @Blue;
	}

	.border:invalid {
		border: 1px solid @Danger;
	}

.footer {
	display: flex;
	flex-direction: row;
	font-size: 0.8em;
	padding: 1px 0 0 0;
}

.leading-icon {

}

.edit-box {
	flex-grow: 1;
	display: flex;
	min-height: 14px;
	align-items: center;
}

.footer-label {
	flex-grow: 1;
	color: @ControlTextMinor;
}

	.footer-label:invalid {
		color: @Danger;
	}

.border-small {
}

.border-default {
}

.border-large {
}

.leading-icon-small {
	min-width: 12px;
	min-height: 12px;
	width: 12px;
	height: 12px;
	margin: 0px 0 0px 2px;
}

.leading-icon-default {
	min-width: 16px;
	min-height: 16px;
	width: 16px;
	height: 16px;
	margin: 1px 0 1px 4px;
}

.leading-icon-large {
	min-width: 16px;
	min-height: 16px;
	width: 16px;
	height: 16px;
	margin: 6px 0 6px 6px;
}

.edit-box-small {
	margin: 1px;
}

.edit-box-default {
	margin: 2px 3px;
}

.edit-box-large {
	margin: 6px;
}
